<?xml version="1.0"?>
<config>
    <modules>
        <Voronoy_Paymaster>
            <version>0.1.0</version>
        </Voronoy_Paymaster>
    </modules>

    <global>
        <models>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Model</class>
                <resourceModel>voronoy_paymaster_resource</resourceModel>
            </voronoy_paymaster>
            <voronoy_paymaster_resource>
                <class>Voronoy_Paymaster_Model_Resource</class>
            </voronoy_paymaster_resource>
        </models>
        <blocks>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Block</class>
            </voronoy_paymaster>
        </blocks>
        <helpers>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Helper</class>
            </voronoy_paymaster>
        </helpers>
    </global>

    <frontend>
        <routers>
            <voronoy_paymaster>
                <use>standard</use>
                <args>
                    <module>Voronoy_Paymaster</module>
                    <frontName>paymaster</frontName>
                </args>
            </voronoy_paymaster>
        </routers>
        <translate>
            <modules>
                <voronoy_paymaster>
                    <files>
                        <default>Voronoy_Paymaster.csv</default>
                    </files>
                </voronoy_paymaster>
            </modules>
        </translate>
    </frontend>

    <default>
        <payment>
            <paymaster_general>
                <model>voronoy_paymaster/method_general</model>
                <active>1</active>
                <title>PayMaster</title>
                <order_status>processing</order_status>
                <test>0</test>
                <sort_order>10</sort_order>
                <gateway_url>https://lmi.paymaster.ua/</gateway_url>
                <merchant_id backend_model="adminhtml/system_config_backend_encrypted"></merchant_id>
                <secret_key backend_model="adminhtml/system_config_backend_encrypted"></secret_key>
            </paymaster_general>
            <paymaster_test>
                <model>voronoy_paymaster/method_test</model>
                <active>0</active>
                <title>PayMaster Test Method</title>
            </paymaster_test>
            <paymaster_webmoney>
                <model>voronoy_paymaster/method_webmoney</model>
                <active>0</active>
                <title>PayMaster WebMoney</title>
            </paymaster_webmoney>
            <paymaster_monexy>
                <model>voronoy_paymaster/method_monexy</model>
                <active>0</active>
                <title>PayMaster MoneXy</title>
            </paymaster_monexy>
            <paymaster_easypay>
                <model>voronoy_paymaster/method_easypay</model>
                <active>0</active>
                <title>PayMaster EasyPay</title>
            </paymaster_easypay>
            <paymaster_nsmep>
                <model>voronoy_paymaster/method_nsmep</model>
                <active>0</active>
                <title>PayMaster NSMEP</title>
            </paymaster_nsmep>
            <paymaster_terminal_webmaster>
                <model>voronoy_paymaster/method_terminal_webmoney</model>
                <active>0</active>
                <title>PayMaster Webmaster Terminal</title>
            </paymaster_terminal_webmaster>
            <paymaster_card>
                <model>voronoy_paymaster/method_card</model>
                <active>0</active>
                <title>PayMaster Card (Visa/MasterCard)</title>
            </paymaster_card>
            <paymaster_privat>
                <model>voronoy_paymaster/method_privat</model>
                <active>0</active>
                <title>PayMaster Privat24</title>
            </paymaster_privat>
            <paymaster_liqpay>
                <model>voronoy_paymaster/method_liqpay</model>
                <active>0</active>
                <title>PayMaster LiqPay</title>
            </paymaster_liqpay>
        </payment>
    </default>
</config>