<?xml version="1.0"?>
<config>
    <modules>
        <Voronoy_Paymaster>
            <version>1.0.1</version>
        </Voronoy_Paymaster>
    </modules>

    <global>
        <models>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Model</class>
                <resourceModel>voronoy_paymaster_resource</resourceModel>
            </voronoy_paymaster>
            <voronoy_paymaster_resource>
                <class>Voronoy_Paymaster_Model_Resource</class>
            </voronoy_paymaster_resource>
        </models>
        <blocks>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Block</class>
            </voronoy_paymaster>
        </blocks>
        <helpers>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Helper</class>
            </voronoy_paymaster>
        </helpers>
    </global>

    <frontend>
        <routers>
            <voronoy_paymaster>
                <use>standard</use>
                <args>
                    <module>Voronoy_Paymaster</module>
                    <frontName>paymaster</frontName>
                </args>
            </voronoy_paymaster>
        </routers>
        <translate>
            <modules>
                <Voronoy_Paymaster>
                    <files>
                        <default>Voronoy_Paymaster.csv</default>
                    </files>
                </Voronoy_Paymaster>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Voronoy_Paymaster>
                    <files>
                        <default>Voronoy_Paymaster.csv</default>
                    </files>
                </Voronoy_Paymaster>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <payment>
            <paymaster_general>
                <active>1</active>
                <order_status>processing</order_status>
                <gateway_url>https://lmi.paymaster.ua/</gateway_url>
                <secret_key backend_model="adminhtml/system_config_backend_encrypted"></secret_key>
            </paymaster_general>
            <paymaster_test>
                <model>voronoy_paymaster/method_test</model>
                <active>0</active>
                <title>PayMasterUA Test</title>
            </paymaster_test>
            <paymaster_all>
                <model>voronoy_paymaster/method_all</model>
                <active>0</active>
                <title>PayMasterUA</title>
            </paymaster_all>
            <paymaster_webmoney>
                <model>voronoy_paymaster/method_webmoney</model>
                <active>0</active>
                <title>WebMoney</title>
            </paymaster_webmoney>
            <paymaster_monexy>
                <model>voronoy_paymaster/method_monexy</model>
                <active>0</active>
                <title>MoneXy</title>
            </paymaster_monexy>
            <paymaster_easypay>
                <model>voronoy_paymaster/method_easypay</model>
                <active>0</active>
                <title>EasyPay Purse</title>
            </paymaster_easypay>
            <paymaster_nsmep>
                <model>voronoy_paymaster/method_nsmep</model>
                <active>0</active>
                <title>NSMEP</title>
            </paymaster_nsmep>
            <paymaster_terminal_webmoney>
                <model>voronoy_paymaster/method_terminal_webmoney</model>
                <active>0</active>
                <title>Terminals Ukraine</title>
            </paymaster_terminal_webmoney>
            <paymaster_card>
                <model>voronoy_paymaster/method_card</model>
                <active>0</active>
                <title>Visa/MasterCard</title>
            </paymaster_card>
            <paymaster_privat>
                <model>voronoy_paymaster/method_privat</model>
                <active>0</active>
                <title>Privat 24</title>
            </paymaster_privat>
            <paymaster_liqpay>
                <model>voronoy_paymaster/method_liqpay</model>
                <active>0</active>
                <title>LiqPay</title>
            </paymaster_liqpay>
        </payment>
    </default>
</config>