<?xml version="1.0"?>
<config>
    <modules>
        <Voronoy_Paymaster>
            <version>0.1.0</version>
        </Voronoy_Paymaster>
    </modules>
    <global>
        <models>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Model</class>
                <resourceModel>voronoy_paymaster_resource</resourceModel>
            </voronoy_paymaster>
            <voronoy_paymaster_resource>
                <class>Voronoy_Paymaster_Model_Resource</class>
            </voronoy_paymaster_resource>
        </models>
        <blocks>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Block</class>
            </voronoy_paymaster>
        </blocks>
        <helpers>
            <voronoy_paymaster>
                <class>Voronoy_Paymaster_Helper</class>
            </voronoy_paymaster>
        </helpers>
    </global>
    <frontend>
        <routers>
            <voronoy_paymaster>
                <use>standard</use>
                <args>
                    <module>Voronoy_Paymaster</module>
                    <frontName>paymaster</frontName>
                </args>
            </voronoy_paymaster>
        </routers>
    </frontend>
    <default>
        <payment>
            <paymaster>
                <model>voronoy_paymaster/paymaster</model>// very important thing, here you select the model for your payment method
                <active>1</active>
                <order_status>processing</order_status>
                <title>PayMaster</title>
                <payment_action>sale</payment_action>
                <merchant_id></merchant_id>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </paymaster>
        </payment>
    </default>
</config>